.allCards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.allCards div {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 15px;
}

.allCards div table td {
    text-align: center;
    border: 1px solid red;
}

.allCards div table th {
    border-bottom: 1px solid black;
}